@import '../../../styles/library';

.footer {
  position: relative;
  z-index: 1;

  width: 100%;

  background: $black500;
  margin-top: auto;

  padding: 10px 0 10px;
}

.description {
  text-align: center;
  font-size: $sm;
  color: $white500;

  h2 {
    font-size: $md;
  }
}

.social {
  color: $white500;
  margin-top: 20px;
  padding-bottom: 10px;

  font-size: $sm;

  a {
    color: $white480;
    text-decoration: none;

    &:hover {
      color: #ffe681;
    }
  }
}

@media (max-width: 825px) {
  .footer {
    padding: 10px 20px 10px;
  }
}
